<style type="text/css">.dsm-table {border-collapse:collapse;border-spacing:0;}.dsm-table td{font-family:Arial, sans-serif;font-size:14px;padding:10px 15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}.dsm-table th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}</style><table class="dsm-table">
<tr><th class="dsm-table-h"></th><th class="dsm-table-h">&#8599;</th><th class="dsm-table-h">A</th><th class="dsm-table-h">B</th><th class="dsm-table-h">C</th><th class="dsm-table-h">D</th><th class="dsm-table-h">E</th><th class="dsm-table-h">F</th></tr>
<tr><td class="dsm-table-d">Component One</td><td class="dsm-table-d">A</td><td class="dsm-table-d">A</td><td class="dsm-table-d">X</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td></tr>
<tr><td class="dsm-table-d">c2</td><td class="dsm-table-d">B</td><td class="dsm-table-d">X</td><td class="dsm-table-d">B</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td></tr>
<tr><td class="dsm-table-d">c3</td><td class="dsm-table-d">C</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d">C</td><td class="dsm-table-d">X</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td></tr>
<tr><td class="dsm-table-d">c4</td><td class="dsm-table-d">D</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d">D</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td></tr>
<tr><td class="dsm-table-d">c5</td><td class="dsm-table-d">E</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d">E</td><td class="dsm-table-d">X</td></tr>
<tr><td class="dsm-table-d">c6</td><td class="dsm-table-d">F</td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d"></td><td class="dsm-table-d">F</td></tr>
</table>